runs/
__pycache__/
.DS_Store
.ipynb_checkpoints/
runs_rl_ppo_joint/
runs_rl_ppo_scratch/
runs_rl_ppo_vanilla/
runs_ppo_scratch/
runs_ppo_joint/
runs_ppo_vanilla/
img_cloning_scratch/
img_cloning_vanilla/
img_cloning_joint/
img_cloning/
